<div class="container">
  <div class="row ">
    <div class="col-12">
      <h3>Samples</h3>
      <hr>
    </div>
 </div>
  <div class="row ">
    <h4 class="col-12">Samples of my Work</h4>
    <!-- navigate to the correct sample -->
    <div class="media" *ngFor="let sample of samples" [routerLink]="['/samples-info', sample.id]">
      <img class=" img-thumbnail align-self-end"
      <!-- take the image from the JSON-server -->
      src="{{UrlBase + sample.image}}" alt={{sample.name}}>
      <div class="media-body">
        <p class="col d-none d-sm-block">
          {{sample.description }}
        </p>
      </div>
    </div>
  </div>
  <!-- <app-samples-info></app-samples-info> -->
  <!-- <app-samples-info [sample] = "selectedSamples"></app-samples-info> -->
</div>