<div class="container">
  <div class="row ">
    <div class="col-12">
      <h3>Samples</h3>
      <hr>
    </div>
 </div>
  <div class="row ">
    <h4 class="col-12">Samples of my Work</h4>
    <div class="media" *ngFor="let sample of samples">
      <img class=" img-thumbnail align-self-end"
        src={{sample.image}} alt={{sample.name}}>
      <div class="media-body">
        <p class="col d-none d-sm-block">
          {{sample.description }}
        </p>
      </div>
    </div>
  </div>
</div>