.row-header{
    margin:0px auto;
    padding:0px;
  }
  .jumbotron {
      padding:70px 30px 70px 30px;
      margin:0px auto;
      background: #8E041B;
      color:floralwhite;
  }

  .nav-item {
      margin:5px;
  }

  .fa {
    color: #8E041B; 
}