
<div class="container">
    <div class="row row-content">
        <div class="col-12 col-sm-6">
            <p>I am an e-learning designer/developer with strong programming skills and Moodle background. </p>
            <p>I have a Bachelor degree in Natural Science, Chemistry pathway from the Open University (UK)  and I am currently enrolled in the Master of Liberal Arts- Digital Media Design at Harvard Extension School. In addition, I am a certified Moodle Course Creator (MCCC). </p>
            <p>I collaborate with people and companies all over the world and my main job is to develop e-learning courses either directly in the LMS (using additional CSS and JavaScript features) or using the articulate software. </p>
        </div>
        <div class="col col-sm">
            <div class="card">
                <h4 class="card-header bg-secondary text-white">Skills At a Glance</h4>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-6">Authoring Tools</dt>
                        <dd class="col-6">Articulate 360, Rise, iSpring</dd>
                        <dt class="col-6">Learning Managements Systems</dt>
                        <dd class="col-6">Moodle, ATutor</dd>
                        <dt class="col-6">Programming Knowledge</dt>
                        <dd class="col-6">JavaScript, p5.js</dd>
                        <dt class="col-6">Other Skills</dt>
                        <dd class="col-6">HTML, CSS</dd>
                    </dl>
                </div>
            </div>
        </div>
      </div>
<div class="row row-content">
    <div class="col-md-2">
    </div>
  <div class="col-md-4">
      <h2>Project Samples</h2>
      <p> Here you will find some project samples and description for them. This page will be frequently updated with new projects.</p>
      <p><a class="btn btn-secondary" routerLink="/samples" role="button">View details »</a></p>
  </div>
  <div class="col-md-4">
      <h2>Feedback</h2>
      <p>Here you can get in touch with me and start discussing your project! Also feel free to send me any question you may have.</p>
      <p><a class="btn btn-secondary" routerLink="/feedback"  role="button">View details »</a></p>
  </div>
</div>


</div>

